@{
    Layout = null;
}

<body>

</body>

<script type="text/javascript">

    var icon = "error";

    var title = "";
    var text = "您無權限";

    Swal.fire({
        icon: icon,
        title: title,
        text: text
    }).then((result) => {

        history.back()
    });
     

</script>