@model PayTreasuryEdit
@{

}

<input type="hidden" name="pid" value="@Model.pid" />

<div class="mb-3" id="edit_div">
    <div class="row">
        <div class="col-3">
            <label for="apply_amount" class="form-label mustkeyin">申請數量</label>
            <input type="text" class="form-control" id="apply_amount" name="apply_amount" value="@Model.apply_amount" readonly style="background-color:gainsboro" />
        </div>
        <div class="col-3">
            <label for="stock" class="form-label mustkeyin">已繳數量</label>
            <input type="text" class="form-control" id="already_pay_amount" name="already_pay_amount" value="@Model.already_pay_amount" readonly style="background-color:gainsboro" />
        </div>
        <div class="col-3">
            <label for="stock" class="form-label mustkeyin">剩餘庫存數量</label>
            <input type="text" class="form-control" id="stock" name="stock" value="@Model.stock" readonly style="background-color:gainsboro" />
        </div>
        <div class="col-3">
            <label for="addstock" class="form-label mustkeyin">繳庫後數量</label>
            <input type="text" class="form-control" id="addstock" name="addstock" value="" readonly style="background-color:gainsboro" />
        </div>
    </div>
</div>

<div class="mb-3" id="edit_div">
    <label for="pay_amount" class="form-label mustkeyin">繳庫數量</label>
    <input type="text" class="form-control" id="pay_amount" name="pay_amount" value="" oninput="AddStock(this)" />
</div>


<script>
    function AddStock(thi) {
        var amount = $(thi).val();
        var old_amount = $("#stock").val();

        var ParseAmount = 0;
        var Parseold_amount = 0;

        if (amount != "") {
            ParseAmount = parseInt(amount);
        }

        if (old_amount != "") {
            Parseold_amount = parseInt(old_amount);
        }

        $("#addstock").val(Parseold_amount - ParseAmount);
    }
</script>