@{
    var Controller = this.ViewContext.RouteData.Values["controller"].ToString();
}
    <div class="modal fade" id="LogoutModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-weight: bold;">登出提示</h5>
                </div>
                <div class="modal-body" style="font-size:25px;font-weight: bold;">
                    超過登入時限，請重新登入
                </div>

                <div class="modal-footer border-0">
                    <a href="@(Url.Action("Index","Home") + "?ReturnUrl=" + Controller)" class="btn btn-primary">確定</a>
                </div>
            </div>
        </div>
    </div>