@model ResetPassword

<input type="hidden" name="pid" value="@Model.Pid" />
<div class="mb-3">
    <label for="Account-field" class="form-label">使用者帳號</label>
    <input type="text" id="Account-field" name="Account" value="@Model.Account" class="form-control bg-light" readonly />
</div>

<div class="mb-3">
    <label for="password-field" class="form-label">密碼</label>
    <input type="password" id="password-field" name="password" maxlength="30" placeholder="請輸入密碼" class="form-control" required />
</div>

<div class="mb-3">
    <label for="ConfirmPassword-field" class="form-label">請再次輸入密碼</label>
    <input type="password" id="ConfirmPassword-field" name="ConfirmPassword" maxlength="30" placeholder="請再次輸入密碼" class="form-control" required />
</div>

<script>

</script>