@model RoleViewModel

@inject SysAppsetting Setting

@{
    string controller = "Role";
    string searchAction = "Search";

    int take = Setting.PaginationTake;

    SRCTools SearchTool = new SRCTools
            {
                id = "btn-search",
                AuthorityUrl = @Url.Action(searchAction,controller) 
            };
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">查詢條件</h4>
                    <div class="flex-shrink-0">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#search-div">收合</button>
                        <div class="form-check form-switch form-switch-right form-switch-md">
                            <partial name="Component/_src_btn_search" for="@SearchTool)" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="search_form">
                        <div class="collapse show" id="search-div">
                            <div class="row gy-4">
                                <div class="col-xxl-3 col-md-6">
                                    <div>
                                    <label for="name" class="form-label">角色名稱</label>
                                        <input type="text" class="form-control form-control-sm" id="name" name="name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>


<div id="index_list_div">
    <partial name="Search" model="Model.SearchPage" />
</div>



    <script>
        $(document).ready(init);
        
        function init() {
            init_btn();

        $('.list-group-item').on('click', function () {

            $(this).children().children('input[type=checkbox]').prop('checked',
                !$(this).children().children('input[type=checkbox]').prop('checked')
            )
        });
        }

        function _srcvalley_ly_pagination_search(e) {

            $("#index_list_div").html("");
            $.ajax({
                url: "@Url.Action(searchAction,controller)",
                data: $("#search_form").serialize() + "&page=" +  e.page +"&take=" + e.take + "&action=" + e.action,
                dataType: "html",
                type: "POST",
                beforeSend: function () { _srcvalley_pg_loading(); },
                complete: function () { _srcvalley_pg_loading_stop(); },
                success: function (pg) {
                    $("#index_list_div").html(pg);
                }
            });
        }

        //新增後執行的動作
        function _src_aoely_success_back() {
            $("#btn-search").click();
        }        
        
        //刪除後執行的動作
        function _src_deletely_success_back() {
            $("#btn-search").click();
        }

        //初始化按鈕動作
        function init_btn() {
            $("#btn-search").on('click', function () {
            var take = @take;
                if (typeof _srcvalley_ly_pagination_take == 'function') {
                    take = _srcvalley_ly_pagination_take('');
                    if (take == '') {
                    take = take;
                    }
                }
                let obj = {
                    page : 1,
                    take : take,
                    action : "now",
                    id : ""
                }
                _srcvalley_ly_pagination_search(obj);
            });
        }

    </script>

