@model RoleEdit

<input type="hidden" name="pid" value="@Model.pid" />
<div class="form-group">
    <label for="recipient-name" class="col-form-label">角色名稱</label>
    <input type="text" class="form-control" name="name" value="@Model.Name" required>
</div>